@use "../composition/bootstrap" as Bootstrap;

header {
  position: relative;
  background-image: url("../../assets/images/lampos-aritonang-24gR_9lCdes-unsplash.jpg"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.logo {
  width: 207px;
}

.search {
  --bs-btn-focus-shadow-rgb: 255, 209, 91;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #{Bootstrap.$primary};
  --bs-btn-active-border-color: #{Bootstrap.$primary};
}
